@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root {
    --pading-right: 80px;
    --padding-left: 80px; 
    --main-color: #00ff34;
    --alt-color: #09b12b;
    --orange:#ff7800;
    --white:#eee;
    --light-color:#dad6d6;
    --fff-color:#130f40;
    ---box-shadow: 0 .5rem 1.5rem rgba(0,0,0,0.1);
    --background: linear-gradient(90deg, rgba(7,5,39,1) 0%, rgba(15,15,66,1) 47%, rgba(15,69,80,1) 100%);
}
.dark-theme {
    --pading-right: 80px;
    --padding-left: 80px; 
    --main-color: #00ff34;
    --alt-color: #09b12b;
    --fff-color: #fff;
    --white:black;
    --orange:orangered;
    --background: radial-gradient(circle, rgba(240,200,218,1) 0%, rgba(148,187,233,1) 100%);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    list-style: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}
html {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    /* overflow: hidden; */
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}
body {
    position: relative;
}
section {
    padding-left: var(--padding-left);
    padding-right: var(--pading-right);
}
.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.4rem 1rem;
    font-size: 1.7rem;
    color: var(--white);
    cursor: pointer;
    border: .2rem solid var(--white);
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
.btn:hover {
    color: var(--fff-color);
    background: var(--orange);
}
/* start header  */

header {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    font-weight: 700;
    background: var(--background);
    z-index: 100;
    flex-wrap: wrap;
}
.header .navbar.active {
    right: 2rem;
    transition: .4s linear;
    -webkit-transition: .4s linear;
    -moz-transition: .4s linear;
    -ms-transition: .4s linear;
    -o-transition: .4s linear;
}
header .logo a {
    font-size: 26px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    
}
header .logo span {
    color: var(--main-color);
}
header nav {
    display: block;
    margin: 0 auto;
}
header nav ul {
    display: flex;
    align-items: center; 
}
header nav ul li {
    padding: 10px 20px;
}
header nav ul li a {
    font-size: 18px;
    padding: 5px 0px;
    font-weight: 700;
    color: white;
    position: relative;
}
header nav ul li a:hover {
    color: var(--main-color);
}
header nav ul li a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: var(--main-color);
    left: 0;
    bottom: 0;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
header nav ul li a:hover::after {
    width: 100%;
}
header .left {
    display: flex;
    align-items: center;
    gap: 20px;
    color: aliceblue;
    height: 100%;
    padding: 10px 5px;
    position: relative;
}
header .left i,div.mode {
    padding: 15px 0px;
    font-size: 18px;
}
header .left div.mode {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 0;
    max-width: 100%;
    width: 3rem;
    height: 2rem;
    width: 3rem;
    line-height: 4.5rem;
    background: transparent;
    color: var(--white);
    font-size: 1.7rem;
    /* margin-right: 0.3rem; */
    text-align: center;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}
header .left div.mode:hover {
    background: var(--main-color);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
header .left div.mode img {
    width: 2.5rem;
}
header .left i:hover {
    cursor: pointer;
    color: var(--main-color);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
header .search-form {
    position: absolute;
    top: 110%;
    right: -130%;
    width: 40rem;
    height: 4rem;
    background: var(--fff-color);
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(---box-shadow);
    border-radius:0.5rem ;
    -webkit-border-radius:0.5rem ;
    -moz-border-radius:0.5rem ;
    -ms-border-radius:0.5rem ;
    -o-border-radius:0.5rem ;
}
header .search-form.active {
    right: 2rem;
    transition: 0.4s linear;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
}
header .search-form input {
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: var(--white);
    padding: 0 1.5rem;
}
header .search-form label {
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: var(--white);
    cursor: pointer;
}
header .search-form label:hover {
    color: var(--orange);
}
.chat-box {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    /* top: 110%; */
    right: -130%;
    padding: 1rem;
    box-shadow: var(---box-shadow);
    width: 35rem;
    background: var(--fff-color);
    border-radius:.5rem ;
    -webkit-border-radius:.5rem ;
    -moz-border-radius:.5rem ;
    -ms-border-radius:.5rem ;
    -o-border-radius:.5rem ;
}
.chat-box.active {
    right: 2rem;
    transition: 0.4s linear;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
}
.chat-box {
    padding: 0;
    border-radius:6px;
    -moz-border-radius:6px;
    -ms-border-radius:6px;
    -o-border-radius:6px;
    -webkit-border-radius:6px;
}
.chat-box .title {
    background: var(--orange);
    /* width: 100%; */
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    height: 70px;
}
.chat-box .title i {
    font-size: 22px;
}
.chat-box .title .logo {
    width: fit-content;
}
.chat-box .start-ch {
    padding: 5px 10px;
    background: white;
    width: 80%;
    height: fit-content;
    margin: 0 auto;
    top: -10px;
    position: relative;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.chat-box .start-ch p {
    color: black;
    text-align: center;
    font-size: 18px;
    margin: 5px 0;
}
.chat-box .start-ch .user-img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.chat-box .start-ch .user-img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.chat-box .start-ch .user-img img:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.chat-box .start-ch {

}
header .chat-box .box .content .quantity {
    padding-left: 1rem;
}
header .chat-box .total {
    font-size: 2.5rem;
    padding: 1rem 0;
    text-align: center;
    color: var(--white);
}
header .chat-box .btn {
    display: block;
    text-align: center;
    margin: 1rem;
}

header .login-form {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 30rem;
    box-shadow: var(---box-shadow);
    padding: 2rem;
    background: var(--fff-color);
    text-align: center;
    border-radius:.5rem ;
    -webkit-border-radius:.5rem ;
    -moz-border-radius:.5rem ;
    -ms-border-radius:.5rem ;
    -o-border-radius:.5rem ;
}
header .login-form.active {
    right: 2rem;
    transition: .4s linear;
    -webkit-transition: .4s linear;
    -moz-transition: .4s linear;
    -ms-transition: .4s linear;
    -o-transition: .4s linear;
}
header .login-form h3 {
    font-size: 2.5rem;
    text-transform: capitalize;
    color: var(--white);
}
header .login-form .box {
    margin: .7rem 0;
    background: #eee;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--white);
    width: 100%;
    text-transform: none;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
header .login-form p {
    font-size: 1.4rem;
    padding: .5rem 0;
    color: var(--white);
}
header .login-form .btn {
    color: black;
    font-weight: 500;
}

@media (max-width:767px) {
    header {
        padding: 5px 0px;
        border-bottom: 1px solid #eee;
    } 
    header .logo {
        /* display: block; */
        text-align: center;
        width: 100%;
        font-size: 22px;
    }
    header .logo a {
        font-size: 20px;
        /* display: block; */
    }
    header nav ul li {
        padding: 7px 10px;
    }

    header nav ul li a {
        font-size: 14px;
    }
    header .left {
        gap: 20px;
        padding: 3px 5px;
        justify-content: center;
        width: 100%;
        gap: 30px;
        margin-top: -10px;
    }
    header .login-form.active {
        right: 4rem;
    }
    header .search-form.active {
        right: 4rem;
        width: 80%;
        background: var(--light-color);
    }
    
}


/* start landing  */
.landing {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--background);
    /* background: url(../img/background.jpg);
    background-size:cover;
    background-position: center; */
}
.landing::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(8, 8, 8 , .5);
    position: absolute;
    left: 0;
    top: 0;
    
}
.landing .info {
    z-index: 10;
    position: relative;
}
.landing h1 {
    position: relative;
    font-size: 26px;
    font-weight: bolder;
    margin: 20px 0;
    color: var(--main-color);
}
.landing .info a.btn {
    position: relative;
    padding: 5px 10px;
    display: block;
    width: fit-content;
    margin-top: 15px;
    color: var(--main-color);
    background: transparent;
    border: 3px solid var(--main-color);
    font-size: 22px;
    font-weight: bolder;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.landing .info a.btn:hover {
    background-color: var(--alt-color);
    color: white;
    cursor: pointer;
    font-weight: 700;
    font-size: 22px;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.landing p {
    position: relative;
    font-size: 20px;
    font-weight: 500;
    color: white;
}
.landing .img img {
    width: 450px;
    position: relative;
}

@media (max-width:767px) {
    .landing {
        flex-wrap: wrap;
        /* flex-direction: column-reverse; */
        padding-top: 20vh;


}
    /* .landing .info {
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        left: 50%;
        top: 50%;
    } */
    .landing h1 {
        font-size: 22px;
        font-weight: bolder;
        margin: 20px 0;
    }

    .landing .info a.btn {
        padding: 5px 10px;
        margin-top: 15px;
        border: 3px solid var(--main-color);
        font-size: 16px;
    }
    .landing .info a.btn:hover {
        font-weight: 700;
        font-size: 17px;
    }
    .landing p {
        font-size: 16px;
        font-weight: 500;
    }
    .landing .img img {
        width: 300px;
        display: block;
    }
}


